

/* custome colors  */
.baloo-paaji{
  font-family: "Baloo Paaji 2", sans-serif;
}
.IndexHeaderBackground{
  background-image: url('../src/assests/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.francois-one-regular {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

